:root {
    --backgroud-color: #00090e;
    --text-color: #E1E1E1;
    --primary-color: #00bcd4;
    --secondary-color: #ff4081;
    --tag-color: #171d1f;
    --font-family: "Prompt", sans-serif;
    --itens-background-color: #171d1f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroud-color);
    color: var(--text-color);
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    gap: 1.69em;
    padding: 3.5em 0;
}

aside {
    background-color: var(--itens-background-color);
    border-radius: 0.5em;
    height: 100%;
    padding: 2.5em 1em;
    text-align: center;
}

.lista-links {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    align-items: center;
    list-style-type: none;
}

.lista-links li a {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.38em;
}

.lista-links li a:hover {
    color: var(--primary-color);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.lista-links li:first-of-type a {
    color: var(--primary-color);
}

.link-destaque {
    border: 2px solid var(--primary-color);
    padding: 0.75em 1.88em;
    border-radius: 0.5em;
}